.footer-logo {
  margin-bottom: 20px;
  text-decoration: none;

  &__web {
    font-family: "Raleway";
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $brand-color;
  }
  &__studio {
    @extend .footer-logo__web;
    color: $whitecolor;
    text-decoration: none;
  }
}
