.footer-item {
  width: 245px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 60px;
  padding-bottom: 60px;

  &__text {
    margin-bottom: 9px;
    font-style: normal;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: $whitecolor;
  }
  &__contact {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    text-decoration: none;
    color: $graycolor;
    margin-bottom: 9px;

    &:hover,
    &:focus {
      color: $brand-color;
      outline: none;
    }
    &:last-child {
      margin-bottom: 0px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .footer-item {
    margin-left: 61px;
    margin-right: 144px;
  }
}
@media (min-width: 1200px) {
  .footer-item {
    align-items: stretch;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}
