.footer-background {
  background-color: $background-color;
}
.footer-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (min-width: 1200px) {
  .footer-box {
    flex-direction: row;
    align-items: stretch;
  }
}
