.h1-background {
  background-size: cover;
  background-color: $background-color;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/backgroundh1mobile.jpg");
}
@media screen and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .h1-background {
    background-image: url("../images/backgroundh1mobile@2x.jpg");
  }
}
@media screen and (min-device-pixel-ratio: 3),
  (min-resolution: 288dpi),
  (min-resolution: 3dppx) {
  .h1-background {
    background-image: url("../images/backgroundh1mobile@3x.jpg");
  }
}
.h1-box {
  max-width: 480px;
  padding-top: 118px;
  padding-bottom: 118px;
  display: flex;
  flex-direction: column;
  align-items: center;

  &__text {
    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $whitecolor;
    max-width: 365px;
    margin: 0px;
  }
  &__button {
    background-color: $brand-color;
    border-radius: 4px;
    width: 200px;
    height: 50px;
    border: 0px;
    margin-top: 30px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    letter-spacing: 0.06em;
    text-align: center;
    color: $whitecolor;

    &:hover {
      cursor: pointer;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .h1-background {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgroundh1tablet.jpg");
  }
  .h1-box {
    max-width: 768px;
    &__text {
      max-width: 365px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .h1-background {
      background-image: url("../images/backgroundh1tablet@2x.jpg");
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .h1-background {
      background-image: url("../images/backgroundh1tablet@3x.jpg");
    }
  }
}
@media (min-width: 1200px) {
  .h1-background {
    background-image: linear-gradient(
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url("../images/backgroundh1.jpg");
  }
  .h1-box {
    max-width: 1200px;
    padding-top: 200px;
    padding-bottom: 200px;
    &__text {
      font-size: 44px;
      line-height: 1.36;
      max-width: 696px;
    }
  }
  @media screen and (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .h1-background {
      background-image: url("../images/backgroundh1@2x.jpg");
    }
  }
  @media screen and (min-device-pixel-ratio: 3),
    (min-resolution: 288dpi),
    (min-resolution: 3dppx) {
    .h1-background {
      background-image: url("../images/backgroundh1@3x.jpg");
    }
  }
}
