.menu-toggle {
  min-height: 40px;
  min-width: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
}
@media (min-width: 768px) {
  .menu-toggle {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  color: $brand-color;
}
.menu-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 48px 40px;
  background-color: $whitecolor;
  opacity: 0;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}
.menu-container.is-open {
  transform: translateX(0);
  opacity: 1;
}
.menu-container .menu-toggle {
  position: absolute;
  top: 16px;
  right: 16px;
  color: $font-color;
}
.mobile-menu {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 302px;
  &:first-child {
    margin-top: 0;
  }
  &__link {
    display: block;
    margin-top: 10px;
    color: $font-color;
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    &:hover,
    &:focus-within {
      color: $brand-color;
      outline: none;
    }
  }
}
.mobile-contact {
  display: flex;
  flex-direction: column;
  &__email {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: $graycolor;
    margin-top: 32px;
    margin-bottom: 64px;
  }
  &__tel {
    text-decoration: none;
    font-family: "Roboto";
    font-weight: 500;
    font-size: 34px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    color: $brand-color;
  }
}
.mobile-social {
  display: flex;
  list-style: none;
  &__link {
    font-family: "Roboto";
    font-weight: 500;
    font-size: 18px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    color: $brand-color;
    text-decoration: none;
  }
  &__border {
    border-right: 1px solid rgba(33, 33, 33, 0.2);
    padding-right: 10px;
    padding-left: 10px;
    &:last-child {
      border-right: 0;
      padding-right: 0;
    }
    &:first-child {
      padding-left: 0;
    }
  }
}
