.modal {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: absolute;
  left: 50%;
  top: 50%;
  background: $whitecolor;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  width: 450px;
  height: 609px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__close-button {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    background-color: $whitecolor;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;

    &:hover,
    &:focus {
      border: 1px solid $closebtn;
      color: $closebtn;
      cursor: pointer;
    }
  }
  &__h3 {
    width: 370px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: $font-color;
    margin-top: 40px;
    margin-bottom: 12px;
  }
  &__form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &__label {
    position: relative;
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;

    &:hover,
    &:focus {
      outline: $brand-color;
      color: $brand-color;
    }
  }
  &__icon-box {
    &:hover,
    &:focus-within {
      color: $brand-color;
      fill: $brand-color;
    }
    & input::placeholder {
      color: rgba(0, 0, 0, 0.6);
    }
  }
  &__icon {
    position: absolute;
    top: 29px;
    left: 15px;
  }
  &__text {
    display: block;
    margin-bottom: 4px;
    font-weight: 400;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.01em;
    color: $graycolor;
  }
  &__input {
    width: 370px;
    height: 40px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding-left: 40px;

    &:hover,
    &:focus {
      outline: $brand-color;
      border: 1px solid $brand-color;
    }
  }
  &__textarea {
    margin-top: 4px;
    width: 370px;
    height: 120px;
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    padding: 12px 16px;

    &:hover,
    &:focus {
      outline: $brand-color;
      border: 1px solid $brand-color;
    }
  }
  &__button {
    outline: none;
    margin-top: 30px;
    width: 200px;
    height: 50px;
    background: $brand-color;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    border: 0px;
    font-weight: 700;
    font-size: 16px;
    line-height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    letter-spacing: 0.06em;
    color: $whitecolor;

    &:hover,
    &:focus {
      cursor: pointer;
    }
  }
  & input:hover::placeholder,
  & input:focus::placeholder {
    color: $brand-color;
  }
}
@media (min-width: 1200px) {
  .modal {
    width: 528px;
    height: 581px;
    &__h3 {
      width: 450px;
    }
    &__text {
      font-size: 12px;
      line-height: 1.16;
    }
    &__input {
      width: 448px;
    }
    &__textarea {
      width: 448px;
    }
  }
}
