.newsletter-box {
  display: flex;
  flex-direction: column;
  align-items: center;

  &__item {
    background: $background-color;
    width: 450px;
    height: 50px;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;
    padding: 16px;
    color: $whitecolor;

    &:hover,
    &:focus {
      border: 1px solid $brand-color;
      outline: $brand-color;
    }
  }
  & input::placeholder {
    color: rgba(255, 255, 255, 0.6);
  }
  & input:hover::placeholder,
  & input:focus::placeholder {
    color: $brand-color;
  }
}
@media screen and (min-width: 320px) and (max-width: 479px) {
  .newsletter-box {
    &__item {
      width: 290px;
    }
  }
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .newsletter-box {
    margin-left: 151px;
  }
}
@media (min-width: 1200px) {
  .newsletter-box {
    flex-direction: row;
    align-items: stretch;

    &__item {
      width: 358px;
    }
  }
}
