.social-list {
  list-style: none;
  display: flex;
  justify-content: center;
  margin-top: 16px;

  &__item {
    margin-left: 10px;

    &:first-child {
      margin-left: 0px;
    }
  }

  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 44px;
    height: 44px;
    padding: 12px;
    border-radius: 50%;
    fill: $iconcolor;

    &:hover,
    &:focus {
      cursor: pointer;
      fill: $whitecolor;
      background-color: $brand-color;
      outline: none;
    }
  }
}
