.list {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
  list-style: none;

  &__figure-box {
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
    background-color: $whitecolor;
    text-align: center;
  }
  &__text-box {
    max-height: 168px;
    padding-top: 30px;
    padding-bottom: 30px;
  }
  &__name {
    padding-bottom: 10px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $font-color;
  }
  &__career {
    font-size: 16px;
    line-height: 1.18;
    letter-spacing: 0.03em;
    color: $graycolor;
  }
}
