$font-color: #212121;
$brand-color: #2196f3;
$background-color: #2f303a;
$sectionbg: #f5f4fa;
$graycolor: #757575;
$whitecolor: #ffffff;
$socialiconbg: rgba(255, 255, 255, 0.1);
$iconcolor: #afb1b8;
$borderportfolio: #eeeeee;
$borderheader: #e5e5e5;
$closebtn: red;
